<div class="container">

    <img src="{{selected_spot?.spot_image_url}}" alt="">

    <h1>{{selected_spot?.name || initial_title}}</h1>
    <div class="difficulty-container">
        <h2>Difficulty</h2>
        <h3>{{selected_spot?.difficulty}}</h3>
    </div>
    <div class="description-container">
        <h2>Description</h2>
        <h3>{{selected_spot?.description || initial_description}}</h3>
    </div>

    <button (click)="finalize_selection()" [disabled]="!selected_spot" class="pick-button">Pick Thy Spot</button>
</div>